<div class="wrapper">
    <div class="center-logo nav-header">
        <span class="material-icons" (click)="goBack()">
            keyboard_backspace
        </span>
        <h1>Restaurant Finder</h1>
    </div>
    <div class="container">
        <form class="login-form">
            <div class="form-header">
                <span class="title">
                    Login
                </span>
            </div>
            <div class="input_container" id="email_box">
                <label for="email">Email</label>
                <input class="input_box" type="text" name="email">
            </div>
            <div class="input_container" id="password_box">
                <label for="password">Password</label>
                <input class="input_box" type="password" name="password">
            </div>
            <button type="submit" class="btn btn-submit">
                Login
                <span class="material-icons">
                    arrow_forward
                </span>
            </button>
        </form>
    </div>
</div>