.center-logo{
    background-color: #4750ff;
}
.nav-header img {
    width: 50px;
    height: 50px;
}
.nav-header h1 {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    color: #fff;
    margin: 0;
}
.nav-header fa-icon {
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    margin: 10px;
    z-index: 100;
    cursor: pointer;
}
.nav-header .material-icons {
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    margin: 10px;
    z-index: 100;
    cursor: pointer;
}

.nav-header .back-icon {
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    margin: 10px;
    z-index: 100;
    cursor: pointer;
}
.main-container{
    height: 100%;
    padding: 1em 1.5em;
}
.wrapper{
    height: 100vh;
}
.greetings{
    font-size: 2em;
}
.cards{
    height: 200px;
    border: 2px solid #f1f1f1;
    border-radius: 15px;
    box-shadow: 0px 3px 8px 0px #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #4750ff;
    cursor: pointer;
}
.cards-container{
   position: relative;
    display: grid;
    padding: 5%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 40px;
}

@media only screen and  (max-width: 768px) {
    .cards-container{
        position: relative;
         display: grid;
         padding: 5%;
         grid-template-columns: 1fr;
         grid-gap: 40px 40px;
     }
}